<div class="course">
  <h2>{{ course?.description }}</h2>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl" />

  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <table
    mat-table
    class="lessons-table mat-elevation-z8"
    [dataSource]="lessons"
    matSort
    matSortDisableClear
    matSortActive="seqNo"
    matSortDirection="asc"
    multiTemplateDataRows
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          (change)="toggleAll()"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let lesson" (click)="$event.stopPropagation()">
        <mat-checkbox
          (change)="onLessonToggled(lesson)"
          [checked]="selection.isSelected(lesson)"
        ></mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="seqNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let lesson">{{ lesson.description }}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duration</th>
      <td class="duration-cell" mat-cell *matCellDef="let lesson">
        {{ lesson.duration }}
      </td>
    </ng-container>

    <!--Add new template with matColumnDef directive-->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let lesson" colspan="4">
        {{ lesson.longDescription }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr
      (click)="onToggleLesson(lesson)"
      mat-row
      *matRowDef="let lesson; columns: displayedColumns"
    ></tr>

    <!--Define new row template with a SINGLE row-->
    <tr
      mat-row
      *matRowDef="let lesson; columns: ['expandedDetail']"
      [class.collapsed-detail]="lesson != expandedLesson"
    ></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z8"
    [pageSize]="3"
    [pageSizeOptions]="[3, 5, 10]"
    [length]="course?.lessonsCount"
  >
  </mat-paginator>
</div>
