<div class="drag-drop-container" cdkDropListGroup>
  <div class="pending">
    <h3>Lessons To Watch:</h3>

    <!--Note the "cdk" prefix; Angular's internal Component Development Kit-->
    <div
      cdkDropList
      [cdkDropListData]="lessons"
      class="lessons-list drag-drop-list"
      (cdkDropListDropped)="dropMultiList($event)"
    >
      <div class="lesson" *ngFor="let lesson of lessons" cdkDrag>
        <div class="drop-placeholder" *cdkDragPlaceholder></div>
        {{ lesson.description }}
      </div>
    </div>
  </div>

  <div class="done">
    <h3>Done:</h3>
    <div
      cdkDropList
      [cdkDropListData]="done"
      class="lessons-list drag-drop-list"
      (cdkDropListDropped)="dropMultiList($event)"
    >
      <div class="lesson" *ngFor="let lesson of done" cdkDrag>
        <div class="drop-placeholder" *cdkDragPlaceholder></div>
        {{ lesson.description }}
      </div>
    </div>
  </div>
</div>
