<div class="container">
  <div class="virtual-scrolling">
    <h3>Virtual Scrolling Demo</h3>

    <mat-list class="mat-elevation-z7">
      <cdk-virtual-scroll-viewport class="scrolling-container" itemSize="48">
        <mat-list-item *cdkVirtualFor="let item of items">
          {{ item }}
        </mat-list-item>
      </cdk-virtual-scroll-viewport>
    </mat-list>
  </div>
</div>
