<div [formGroup]="form" class="course-details-form">
  <mat-form-field floatLabel="always">
    <mat-label>Course Title</mat-label>
    <input matInput formControlName="title" #title />
    <mat-hint align="end"> {{ title.value.length }}/60 </mat-hint>
    <mat-error *ngIf="courseTitle.errors?.minLength">
      A minimum length of 5 characters is required
    </mat-error>
  </mat-form-field>

  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button [disabled]="true" value="free">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-select formControlName="category" placeholder="Select Category">
      <!-- <mat-option>None</mat-option> -->
      <!--For fields that are not mandatory-->

      <mat-optgroup label="Beginners">
        <mat-option value="newtoprogramming">New to Programming</mat-option>
        <mat-option value="newjavascript">New to Javascript</mat-option>
        <mat-option value="newangular">New to Angular</mat-option>
      </mat-optgroup>
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input
      matInput
      [matDatepicker]="releasedAtPicker"
      formControlName="releasedAt"
      placeholder="Release Date"
    />
    <mat-datepicker-toggle
      matSuffix
      [for]="releasedAtPicker"
    ></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #releasedAtPicker> </mat-datepicker>
  </mat-form-field>

  <mat-checkbox
    [indeterminate]="true"
    color="primary"
    formControlName="downloadsAllowed"
  >
    Downloads Allowed?
  </mat-checkbox>

  <mat-form-field appearance="outline">
    <textarea
      formControlName="longDescription"
      matInput
      placeholder="Description"
    ></textarea>
  </mat-form-field>
</div>
